.content {
    padding: 0 10px;
    max-width: 400px;
}

.content .shadow {
    border-radius: .375rem;
}

label {
    padding-left: 4px;
}

#serial-number {
    margin-right: 4px;
}

#count {
    margin-left: 4px;
}
