{% extends 'base.html' %}
{% load static %}

{% block title %}Все карты{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'loyalty_management/cards.css' %}">
{% endblock %}

{% block content %}
<div class="content mt-4 mw">
    <div class="d-flex flex-column">
        <div class="mb-3 d-flex flex-row">
            <button id="all-cards" class="btn btn-green">Все карты</button>
            <button id="search-btn" class="btn btn-outline-green">Поиск по параметрам</button>
        </div>

        <div class="search mb-4" style="display: none">
            <div class="shadow">
                <form>
                    <div class="row mb-2">
                        <div class="col-3 p-0">
                            <label>Серия</label>
                            <input id="serial-number" type="text" class="form-control" placeholder="Серия">
                        </div>
                        <div class="col-4 p-0 mx-3">
                            <label>Номер</label>
                            <input id="number" type="text" class="form-control" placeholder="Номер">
                        </div>
                        <div class="col-3 p-0">
                            <label>Статус</label>
                            <select name="" id="status" class="form-select">
                                <option value="4" selected>Не выбрано</option>
                                <option value="0">Не активирована</option>
                                <option value="1">Активирована</option>
                                <option value="2">Просрочена</option>
                                <option value="3">В корзине</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4 p-0">
                            <label>Дата и время выпуска</label>
                            <input id="date1" type="datetime-local" class="form-control" placeholder="Серия">
                        </div>
                        <div class="col-4 p-0 mx-3">
                            <label>Дата и время окончания</label>
                            <input id="date2" type="datetime-local" class="form-control" placeholder="Номер">
                        </div>
                    </div>
                </form>
            </div>
            <div class="text-end mt-3">
                <button class="btn btn-green">Искать</button>
            </div>
        </div>

        <div id="cards">
            <div class="cards-table d-flex flex-column shadow">
                <div class="row mb-2">
                    <div class="col-1 text-secondary" id="serial-number-btn">Серия</div>
                    <div class="col text-secondary" id="number-btn">Номер</div>
                    <div class="col-3 text-primary" id="date1-btn">Дата и время выпуска</div>
                    <div class="col-3 text-secondary" id="date2-btn">Дата и время окончания</div>
                    <div class="col text-secondary" id="status-btn">Статус</div>
                </div>

                <div class="cards"></div>
            </div>

            <div class="pag mt-3 d-flex flex-row align-items-center justify-content-center">
                <button id="prev" class="btn btn-outline-green">&lt;</button>
                <div class="mx-3"><span id="page-number">...</span> / <span id="max-page">...</span></div>
                <button id="next" class="btn btn-outline-green">&gt;</button>
            </div>
        </div>

    </div>
</div>
{% endblock %}

{% block javascript %}
<script src="{% static 'loyalty_management/cards.js' %}"></script>
{% endblock %}
